*{
    margin:0;
    padding:0;
  }
  .nav-head{
    position: relative;
    background: #73d8ff;
    height:80px;
    & i{
      font-size:60px;
      margin-left:20px;
      line-height: 80px;
      &:hover{
        cursor: pointer;
      }
    }
    & span{
      position: absolute;
      right:30px;
      font-size:40px;
      line-height: 80px;
    }
  
  }
  .left-menu{
    & span{
      display: block;
      width:100%;
      height:160px;
      text-align: center;
      line-height: 160px;
      font-size:30px;
      color:#333;
      border-radius: 10px;
      &:hover{
        cursor: pointer;
        background: #fff1fd;
        transform: scale(1.1);
      }
  
    }
    .focus{
      background: #e8cfe5;
        color:#fff;
      
    }
  }

  .wel{
    .ant-btn{
      height:40px;
      width:120px;
    }
  }