* {
  margin: 0;
  padding: 0;
}
.todolist-pane {
  width: 600px;
  margin-top: 100px;
  background: #cccccc;
  border-radius: 8px;
  padding: 20px;

  .container {
    background: #ffffff;
    padding: 20px 20px 5px;
    border-radius: 6px;
  }
  .head {
    & p {
      margin: 12px 0;
    }
    & p:nth-of-type(1) {
      font-weight: bold;
      font-size: 30px;
    }
    & p:nth-of-type(2) {
      font-size: 18px;
    }

    .el-button {
      width: 80px;
      background: #fc999a;
      color: #ffffff;
      font-size: 18px;
      line-height: 40px;
      padding: 0;
      border-color: #fc999a;
      border-radius: 6px;
      &:hover {
        background: #f97778;
        border-color: #f97778;
      }
    }
  }
  .content {
    margin-top: 30px;
    padding-left: 6px;

    width: 100%;
    & span {
      font-size: 18px;
      //   color:#2c3e50;
      font-weight: bold;
    }
    .el-row {
      border: 1px solid transparent;
      margin: 4px 0;
      margin-right: 20px;
      border-radius: 6px;
      &:hover {
        border: 1px solid #fc999a15;
        transform: scale(1.05);
        background: #fc999a15;
      }
      .el-col {
        padding: 5px 6px;
        line-height: 32px;
        border-radius: 4px;
        background: transparent;
        position: relative;
        .el-input {
          position: absolute;
          width: 90%;
          top: 0;
          left: 10px;
        }
        & i {
          position: absolute;
          top: 0;
          right: 8px;
          line-height: 40px;
          font-size: 18px;
          color: #fc999a;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    // .el-row:nth-of-type(2n) {

    //   .el-col:nth-of-type(2) {
    //     background: #fff4f4;
    //   }
    // }
    .el-checkbox__inner {
      height: 18px;
      width: 18px;
      border-radius: 4px;
      &::after {
        height: 10px;
        left: 6px;
      }
    }
    .el-checkbox {
      margin-right: 4px;
      padding: 0;
      width: 100%;

      .el-checkbox__input {
        margin-left: 2px;
      }
      .el-checkbox__label {
        width: 84%;
        .el-input {
          width: 100%;
        }
      }
    }

    .el-checkbox__input.is-checked + {
      .el-checkbox__label span {
        width: 92%;
        color: #cccccc;
        text-decoration: line-through;
      }
    }
    .isCheck span {
      color: #cccccc;
    }
  }
  .foot {
    margin-top: 42px;
    .el-button {
      border: 1.8px solid #fff;
      color: #fc999a;
      font-size: 18px;
      padding: 6px 16px;
      line-height: 24px;
      border-radius: 6px;

      &:hover {
        background: #fc999a15;
        border-color: #fc999a15;
      }
      &:focus {
        background: #fff;
        border-color: #faf1f1;
      }
    }
  }
}